{% extends 'baseAdmin.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<h1>Liste des commentaires</h1>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>N°</th>
            <th>Commentaire</th>
            <th>Maison</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in commentaires %}
        <tr>
            <td>{{ loop.revindex }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ comment.maison.title }}</td>
            <td>
                <a href="{{ path('comment_show', {'id': comment.id}) }}">
                    <i class="fas fa-eye text-danger"></i>
                </a>
                <a href="{{ path('comment_edit', {'id': comment.id}) }}">
                    <i class="fas fa-pen-square text-primary"></i>
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Aucun commentaire trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="col-12 text-end">
    <a href="{{ path('comment_new') }}" class="btn btn-primary">Nouveau</a>
</div>

{% endblock %}